ion-input {
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: block;
    
}
.scan-input{
    display: flex;
    justify-content: space-between;
    position: relative;
    ion-button{
        align-self:flex-end;
        margin: 0 16px 0 0;
       
    }
    

}
.total-price{
    
    color: #1F63AE;
    font-size: 20px;
    text-align: right;
}
.cancel-btn{
    --background:#E5E5E5;
    color: #000;
}
.btn-group{
    margin: 16px;
    display: flex;
    justify-content: space-between;
}