<ion-header>
  
</ion-header>

<ion-content>
  
  <ion-grid >
    <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="12">
          <div class="login-form">
            <img src="assets/img/avatar.png" alt="Seattle Consulting Myanmar">
            <p>SCM POS System</p>
              <form>
                <ion-label >Please Enter User Id</ion-label>
                <ion-input placeholder="ID"></ion-input>
                <ion-button>Login</ion-button>
              </form>
              
           
          </div>
          
        </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>
