ion-label {
    padding-bottom: 20px;
}

ion-input {
    border: 1px solid #cccccc;
    border-radius: 10px;
    display: block;
}

input[type="number"]::placeholder {
    text-align: right;
}

ion-row.d-flex {
    display: flex;
    justify-content: space-between;
    ion-button {
        width: 100%;
        display: inline-block;
        padding: 10px 0px;
        border-radius: 8px;
        outline: none;
    }
    .cancel {
        background-color: #E5E5E5;
        color: #000000;
    }
    .addItem {
        background-color: #3880ff;
        color: #ffffff;
    }
    .cancel .button-native {
        --background: #E5E5E5;
    }
}

.error {
    color: rgb(223, 62, 62);
    font-size: 11px;
    display: flex;
    ion-icon {
        padding-top: 2px;
        padding-right: 5px;
    }
}

.error1 {
    color: rgb(75, 75, 75);
    border: 1px solid #ff0000;
}