<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="home">
    <ion-card *ngFor="let item of buyItemList;let n=index">
      <div class="item-upper">
        <div>
          <p class="item-bold">{{n+1}}  {{item.name}} <small>/{{item.price}}Ks</small> </p>
          <small>{{item.code}}</small>
        </div>
        <ion-button color="white" class="edit-btn" (click)="editSaleItem(item)">
          <ion-icon name="ellipsis-vertical-outline" color="dark" ></ion-icon>
        </ion-button>
      </div>
      <div class="item-lower">
        <div class="item-spec">
          <p>Total:</p>
          <p class="item-bold ion-text-center">{{item.total}}</p>
        </div>
        <div class="item-spec">
          <p>Qty:</p>
          <p class="item-bold">{{item.qty}}</p>
        </div>
      </div>
    </ion-card>
    <ion-button class="add-btn" (click)="showModal()">Add Item <ion-icon name="add-outline" class="addItem"></ion-icon></ion-button>
  </div>
 
</ion-content>
