<ion-content>
    <form *ngFor="let item of dbData">
        <ion-list>
            <ion-item lines="none">
                <ion-label color="primary" position="stacked"> Code </ion-label>
                <ion-input type="text" name="code" class="ion-padding-start" [(ngModel)]="item.code"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label color="primary" position="stacked"> Item Name </ion-label>
                <ion-input type="text" name="name" [(ngModel)]="item.name"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label color="primary" position="stacked"> Price </ion-label>
                <ion-input type="number" name="price" [(ngModel)]="item.price" placeholder="Ks."></ion-input>
            </ion-item>
        </ion-list>
        <ion-row class="d-flex ion-padding">
            <ion-col size="4">
                <button ion-button class="cancel" (click)="cancel()">Cancel</button>
            </ion-col>
            <ion-col size="4">
                <button ion-button class="delete" (click)="delete(item)">Delete</button>
            </ion-col>
            <ion-col size="4">
                <button ion-button class="addItem" (click)="updateItem(item)">Ok</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>